
html, body {
    height: 100%;
}

body {
    font-family: 'Typo_SSangmunDongB', cursive;
    background: #1e90ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    /* height: 220px; */
    position: relative;
}

h1, h2 {
    font-size: 75px;
    text-transform: uppercase;
}

h1 span, h2 span {
    width: 100%;
    float: left;
    color: #ffffff;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
}

h1 span {
    animation-delay: 0.6s;
    /* -webkit-animation-fill-mode: forwards; */
}

h1 span:first-child {
    animation-delay: 0.7s;
}

h1 span:last-child {
    color: #ffe221;
    animation-delay: 0.5s;
}

h2 {
    top: 0;
    position: absolute;
}

h2 span {
    animation-delay: 4.1s;
    /* -webkit-animation-fill-mode: forwards; */
}

h2 span:first-child {
    animation-delay: 4.2s;
}

h2 span:last-child {
    color: #ffe221;
    animation-delay: 4s;
}

#first{
    margin: 0;
}

#second{
    margin-top: 80px;
    margin-left: 80px;
}

@keyframes titleAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }

    20% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
    }

    80% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
    }

    100% {
        transform: translateY(50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
        clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    }
}


p {
    margin-left: -55px;
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #ffffff;
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px;

}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}